* {
  font-family: "JetBrains Mono", monospace !important;
  font-feature-settings: "clig" off, "liga" off !important;
}
body {
  background: linear-gradient(180deg, #14131b 0%, #08070b 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

h1 {
  color: rgba(129, 125, 146, 1);
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.top_section {
  margin-bottom: 24px;
  margin-top: 32px;
  display: flex;
  justify-content: end;
  align-items: center;
}
.top_section input {
  width: 540px;
  height: 80px;
  background: var(--Dark-Grey, #24232c);
  padding: 19px 335px 19px 32px;
  color: var(--Almost-White, #e6e5ea);
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  cursor: pointer;
}
.top_section input::placeholder {
  color: var(--Almost-White, #e6e5ea);
  opacity: 0.25;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
#svg_button {
  position: absolute;
  margin-right: 32px;
}

.main_section {
  width: 540px;
  height: 528px;
  background: var(--Dark-Grey, #24232c);
  padding: 34px 32px 35px 32px;
}
.range_div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#Length {
  color: var(--Almost-White, #e6e5ea);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
#zero {
  color: var(--Neon-Green, #a4ffaf);
  text-align: right;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

#myrange {
  width: 476px;
  height: 8px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: var(--Very-Dark-Grey, #18171f);
}

input[type="range"]::-webkit-slider-thumb {
  z-index: 1 !important;
  -webkit-appearance: none;
  background: url("/starter-code/assets/images/Oval.svg") no-repeat center
    center;
  cursor: pointer;
  width: 28px;
  height: 28px;
}

.myrange {
  margin-top: 25px;
}
.checkbox_div {
  display: flex;
  justify-content: center;
  margin-top: 33px;
  flex-direction: column;
  gap: 19px;
}

.container {
  color: var(--Almost-White, #e6e5ea);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  gap: 24px;
  display: flex;
  cursor: pointer;
  align-items: center;
}

input[type="checkbox"] {
  appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid var(--Almost-White, #e6e5ea);
  cursor: pointer;
}

input[type="checkbox"]:checked {
  background: var(--Neon-Green, #a4ffaf);
  border: 2px solid var(--Neon-Green, #a4ffaf);
}

.strength_div {
  margin-top: 31px;
}
#strength_svg {
  position: absolute;
  margin-left: 22%;
  margin-top: -50px;
}
#Strength {
  position: relative;
  width: 476px;
  height: 72px;
  background: #18171f;
  padding: 25px 0px 23px 32px;
}

#Strength input::placeholder {
  color: #817d92;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

#main_button {
  width: 476px;
  height: 65px;
  background: var(--Neon-Green, #a4ffaf);
  margin-top: 32px;
  color: var(--Dark-Grey, #24232c);
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

#svg_button:hover path {
  fill: rgba(255, 255, 255, 1);
  cursor: pointer;
}
#main_button:hover {
  background: none;
  color: var(--Neon-Green, #a4ffaf);
  border: 2px solid var(--Neon-Green, #a4ffaf);
}

#main_button:hover svg path {
  fill: #a4ffaf;
}

.checkmark {
  position: absolute;
  margin-left: 3px;
  display: none;
}

input[type="checkbox"]:checked + .checkmark {
  display: block;
}

input[type="range"]::-webkit-slider-thumb:hover {
  background: url("/starter-code/assets/images/Oval2.svg") no-repeat center;
  border-radius: 50%;
  border: 2px solid #a4ffaf;
}

input[type="checkbox"]:hover {
  border: 2px solid var(--Neon-Green, #a4ffaf);
}

input[readonly] {
  cursor: default;
}
input[type="text"]:focus {
  outline: none;
}
@media only screen and (max-width: 768px) {
  main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90%;
  }

  .top_section {
    margin-top: 16px;
    margin-bottom: 16px;
  }

  h1 {
    font-size: 16px;
  }

  .top_section input {
    width: 343px;
    height: 64px;
    font-size: 24px;
    padding: 17px 183px 15px 16px;
  }
  #svg_button {
    margin-right: 15.5px;
  }

  .main_section {
    width: 343px;
    height: 423px;
    padding: 21px 16px 16px 16px;
  }

  #Length {
    font-size: 16px;
  }
  #zero {
    font-size: 24px;
  }
  .myrange {
    margin-top: 19px;
  }

  #myrange {
    width: 311px;
  }
  .checkbox_div {
    gap: 16px;
    margin-top: 29px;
  }
  .container {
    font-size: 16px;
    gap: 20px;
  }
  .strength_div {
    margin-top: 29px;
  }
  #Strength {
    padding: 17px 16px 18px 16px;
    width: 311px;
    height: 56px;
  }
  #strength_svg {
    margin-left: 30%;
    margin-top: -45px;
  }
  #main_button {
    width: 311px;
    height: 56px;
    margin-top: 16px;
  }
}

@media only screen and (max-width: 500px) {
  #strength_svg {
    margin-left: 49%
  }
}
@media only screen and (max-width: 430px) {
  #strength_svg {
    margin-left: 53%;
  }
}

@media only screen and (max-width: 390px) {
  #strength_svg {
    margin-left: 60%;
  }
}

@media only screen and (max-width: 360px) {
  #strength_svg {
    margin-left: 63%;
  }
}
